body {
	background-color: #2b4b26;
}

h3 {
	color: white;
	text-align: center;
}

#timeProgress {
	color: white;
}

#startButton {
	color: green;
}

#stopButton {
	color: red;
}

.buttons {
	width: 200px;
}
